{% extends 'base.html' %}

{% block head %}
<title>Decision Tree Update</title>
{%  endblock %}

{% block body %}
<div class="content">
    <h1>Update Entry </h1>

    <h2>Enter Values: </h2>

    <div class='form'>
        <form action="/Decision_Tree/update/{{entry_to_update.id}}" method="POST">
            <input type="int" name="age"  placeholder="Enter Age">
            <input type="int" name="sex"  placeholder="Enter Sex">
            <input type="int" name="bp"  placeholder="Enter BP">
            <input type="int" name="cholestrol"  placeholder="Enter Cholestrol">
            <input type="bool" name="na_to_k"  placeholder="Enter Sodium to Potassium">
            <input type="submit" value="Predict ">
        </form>
    </div>

    
</div>
{%  endblock %}