{% extends 'base.html' %}

{% block head %}
<title>Logistic Update</title>
{%  endblock %}

{% block body %}
<div class="content">
    <h1>Update Entry </h1>

    <h2>Enter Values: </h2>

    <div class='form'>
        <form action="/Logistic/update/{{entry_to_update.id}}" method="POST">
            <input type="int" name="tenure"  value="Enter Tenure">
            <input type="int" name="age"  value="Enter Age">
            <input type="int" name="address"  value="Enter Address">
            <input type="int" name="income"  value="Enter Income">
            <input type="int" name="education"  value="Enter Education">
            <input type="bool" name="employ"  value="Are you employed (0,1)">
            <input type="int" name="equip"  value="Are you equipped (0,1)">
            <input type="submit" value="Update_Prediction ">
        </form>
    </div>
   
</div>
{%  endblock %}