{% extends 'base.html' %}

{% block head %}
<title>SVM Model Update</title>
{%  endblock %}

{% block body %}
<div class="content">
    <h1>Update Entry </h1>

    <h2>Enter Values: </h2>

    <div class='form'>
        <form action="/SVM_model/update/{{entry_to_update.id}}" method="POST">
            <input type="int" name="clump"  placeholder="Enter Clump">
            <input type="int" name="unifsize"  placeholder="Enter Unifsize">
            <input type="int" name="unifshape"  placeholder="Enter Unifshape">
            <input type="int" name="margadh"  placeholder="Enter Marg Adh">
            <input type="bool" name="singepisize"  placeholder="Enter Sing Epi Size">
            <input type="int" name="barenuc"  placeholder="Enter Bare Nucleus">
            <input type="int" name="blandchrom"  placeholder="Enter BlandChrom">
            <input type="int" name="normnucl"  placeholder="Enter Norm Nucleus">
            <input type="int" name="mit"  placeholder="Enter Mit">
            <input type="submit" value="Predict ">
        </form>
    </div>
</div>
{%  endblock %}